{% extends 'index.html' %}
{% block content %}

<script>
    window.setInterval(redirectToLogin, 5000);
    window.setInterval(updateSeconds, 1000);
    var seconds = 5;

    function redirectToLogin() {
        window.location.replace("{{url_for('login')}}");
    }
    function updateSeconds() {
        if(secods >= 0){
            --seconds;
        }
        $('#seconds').html(seconds);
    }
</script>

<h1>Error 401 - Unauthorised Access</h1>
<p>You probably aren't logged in. Head over to <a href="{{url_for('login')}}">login page</a> to login.</p>
<p>You should be taken there automatically in <span id="seconds">5</span> seconds, if not, follow the link above.</p>

{% endblock content %}