{% extends 'index.html' %}

{% block customJS %}
<script>
    window.setInterval(redirectToLogin, 5000);
    window.setInterval(updateSeconds, 1000);
    var seconds = 5;

    function redirectToLogin() {
        window.location.replace("{{url_for('index')}}");
    }
    function updateSeconds() {
        if(seconds >= 0){
            --seconds;
        }
        $('#seconds')[0].innerText = seconds;
    }
</script>
{% endblock customJS %}

{% block content %}

<h1>Error 404 - Page not Found</h1>
<p>The page you're looking for isn't here. You'll be now taken to the <a href="{{url_for('index')}}">home page</a>.</p>
<p>You should be taken there automatically in <span id="seconds">5</span> seconds, if not, follow the link above.</p>

{% endblock content %}