body{
    margin: 0em;
    font-family: Calibri, Arial;
}

a{
    text-decoration: none;
    color: #52a4f2;
}

.hasMargin{
    margin-left: 1em !important;
    margin-right: 1em !important;
}

nav{
    background-color: #222222;
    margin-bottom: 1em;
}

nav a{
    color: #ffffff;
    display: inline-block;
    padding: .5em;
}

nav a:hover, nav a:focus{
    background-color: #ffffff;
    color: #222222;
}

footer{
    background-color: #222222;
    color: #ffffff;
    margin-top: 1em;
    padding: 1em 0em;
    text-align: center;
}

#logoutCover{
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

#logoutBox{
    display: inline-block;
    background-color: #ffffff;
    border: 5px solid black;
    position: relative;
    top: 5em;
    padding: 1em;
    display: none;
}

#errorMessageContainer{
    padding: .25em;
    margin: .25em;
}

#errorMessageContainer p{
    color: #e03c3c;
    font-style: italic;
}

#infoMessageContainer{
    margin: .25em;
    padding: .25em;
    color: #3c90e0;
    font-style: italic;
}

.borderColorSucess{
    border-color: #8bea25;
}

.borderColorFailure{
    border-color: #e03c3c;
}