nav{
    display: none;
}
footer{
    display: none;
}
.collapse{
    display: block !important;
}
.bg-primary{
    background-color: #cccccc !important;
}
.bg-secondary{
    background-color: #ffffff !important;
}
.card-footer{
    display: none;
}
.card{
    page-break-inside: avoid;
}
small{
    display: none;
}
#controls{
    display: none !important;
}
#controlsButton{
    display: none;
}




.fa-tooth{
    color: #ffffff !important;
}
.fa-procedures{
    color: #FF5050 !important;
}
.fa-syringe{
    color: #a5f9ff !important;
}
.fa-frown{
    color: #47c433 !important;
}
.fa-question-circle{
    color: #222222 !important;
}
.fa-pills{
    color: #e861af !important;
}