{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        new Cleave('#dob', {
            date: true,
            delimiter: '/',
            datePattern: ['d', 'm', 'Y']
        });
        new Cleave('#height', {
            blocks: [3]
        });

        {% if account_details %}
        
            // FILL THE FORM
            var account_details = {};
            {% for key, value in account_details.items() %}
                account_details['{{key}}'] = decrypt( "{{ value }}", window.localStorage.getItem('MediSecEncKey'));
            {% endfor %}

            var entries = Object.entries(account_details);
            for(const [key, value] of entries){
                    $('#'+key)[0].value = value;
            };

        {% endif %}

        // ON SUBMIT
        var form = "#accountForm";

        $(form).submit( function () {
            $(form+" :input").each( function () {
                if($(this)[0].value == ""){
                    $(this).attr('disabled', true);
                }
                else{
                    $(this).attr('readonly', true);
                }
            });

            $(form+" :input").not($(form+" input[type=submit]")).each( function () {
                $(this)[0].value = encrypt($(this)[0].value, window.localStorage.getItem('MediSecEncKey'));
            });

            return true;
        });

    });
</script>
{% endblock customJS %}

{% block content %}

<h1>Account Details</h1>

<p>
    Use this page to update your account information. None of the information is required. If set, this information appears at the top of the printed medical history page.
</p>

<form id="accountForm" action="{{url_for('account')}}" method="post">
    <div class="form-group row">
        <label for="forename" class="col-md-2 col-form-label text-md-right">Forename:</label>
        <div class="col-md-10">
            <input type="forename" name="forename" id="forename" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="surname" class="col-md-2 col-form-label text-md-right">Surname:</label>
        <div class="col-md-10">
            <input type="surname" name="surname" id="surname" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="dob" class="col-md-2 col-form-label text-md-right">Date of Birth:</label>
        <div class="col-md-10">
            <input type="text" name="dob" id="dob" class="form-control" placeholder="dd/mm/YYYY">
        </div>
    </div>

    <div class="form-group row">
        <label for="ppsn" class="col-md-2 col-form-label text-md-right">Public Services Card No:</label>
        <div class="col-md-10">
            <input type="text" name="ppsn" id="ppsn" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="bloodType" class="col-md-2 col-form-label text-md-right">Blood Type:</label>
        <div class="col-md-10">
                <input type="text" name="bloodType" id="bloodType" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="height" class="col-md-2 col-form-label text-md-right">Height (centimeters):</label>
        <div class="col-md-10">
            <input type="text" name="height" id="height" class="form-control" placeholder="### cm">
        </div>
    </div>

    <div class="form-group row">
        <label for="phoneNumber" class="col-md-2 col-form-label text-md-right">Mobile No:</label>
        <div class="col-md-10">
            <input type="mobile" name="phoneNumber" id="phoneNumber" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="landlineNumber" class="col-md-2 col-form-label text-md-right">Landline No:</label>
        <div class="col-md-10">
            <input type="landline" name="landlineNumber" id="landlineNumber" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="address1" class="col-md-2 col-form-label text-md-right">Address 1:</label>
        <div class="col-md-10">
            <input type="address" name="address1" id="address1" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="address2" class="col-md-2 col-form-label text-md-right">Address 2:</label>
        <div class="col-md-10">
            <input type="address" name="address2" id="address2" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="address3" class="col-md-2 col-form-label text-md-right">Address 3:</label>
        <div class="col-md-10">
            <input type="address" name="address3" id="address3" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="town" class="col-md-2 col-form-label text-md-right">City / Town:</label>
        <div class="col-md-10">
            <input type="address" name="town" id="town" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="region" class="col-md-2 col-form-label text-md-right">County / Region:</label>
        <div class="col-md-10">
            <input type="region" name="region" id="region" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label for="postcode" class="col-md-2 col-form-label text-md-right">Eircode / Postcode:</label>
        <div class="col-md-10">
            <input type="postcode" name="postcode" id="postcode" class="form-control">
            <small class="text-muted">
                For Irish users, you can find your Eircode <a target="_blank" href="http://eircode.ie">here</a>.
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="country" class="col-md-2 col-form-label text-md-right">Country:</label>
        <div class="col-md-10">
            <input type="country" name="country" id="country" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2 text-md-right">
            <input type="submit" class="btn btn-primary py-2 px-4" value="Save">
        </span>
        <div class="col-md-10"></div>
    </div>

</form>

<hr>

<h1>Password change</h1>

<form id="resetPasswordForm" action="{#{{url_for('passwordChange')}}#}" method="post">

    <p class="alert alert-info">
        <b>Password change feature is coming soon!</b><br>
        Why is it taking so long? MediSec is a client-side encrypted application, meaning that to change that password MediSec requires to re-encrypt all the data with the new encryption key as well as update the old password. That is no easy task. The team is hard at work to ensure that everything works without issues!
    </p>

    <div class="form-group row">
        <label for="org_pass" class="col-md-2 col-form-label text-md-right required">Current Password:</label>
        <div class="col-md-10">
            <input type="password" name="org_pass" id="org_pass" class="form-control" required disabled>
        </div>
    </div>

    <div class="form-group row">
        <label for="new_pass" class="col-md-2 col-form-label text-md-right required">New Password:</label>
        <div class="col-md-10">
            <input type="password" name="new_pass" id="new_pass" class="form-control" required disabled>
        </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2 text-md-right">
            <input type="submit" class="btn btn-primary py-2 px-4" value="Change" disabled>
        </span>
        <div class="col-md-10"></div>
    </div>

</form>

{% endblock content %}