{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        new Cleave('#date', {
            date: true,
            delimiter: '/',
            datePattern: ['d', 'm', 'Y']
        });
        new Cleave('#time', {
            time: true,
            timePattern: ['h', 'm']
        });
        
        // ON SUBMIT
        var form = "#addDoctorVisitForm";

        $(form).submit( function () {
            $(form+" :input").each( function () {
                if($(this)[0].value == ""){
                    $(this).attr('disabled', true);
                }
                else{
                    $(this).attr('readonly', true);
                }
            });

            $(form+" :input").not($(form+" input[type=submit]")).each( function () {
                $(this)[0].value = encrypt($(this)[0].value, window.localStorage.getItem('MediSecEncKey'));
            });
            
            return true;
        });
    });
</script>
{% endblock customJS %}

{% block content %}
<h1>Add a Doctor Visit</h1>

<form id="addDoctorVisitForm" action="{{url_for('addMedicalHistoryForm', historyType='DoctorVisit')}}" method="post">
    <div class="form-group row" class="col-md-2 col-form-label">
        <label for="doctor" class="col-md-2 col-form-label text-md-right required">Doctor:</label>
        <div class="col-md-10">
            <input type="text" name="doctor" id="doctor" class="form-control" required>
        </div>
    </div>

    <div class="form-group row" class="col-md-2 col-form-label">
        <label for="location" class="col-md-2 col-form-label text-md-right required">Location:</label>
        <div class="col-md-10">
            <input type="text" name="location" id="location" class="form-control" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="desc" class="col-md-2 col-form-label text-md-right required">Description:</label>
        <div class="col-md-10">
            <textarea type="text" name="desc" id="desc" class="form-control" required></textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="date" class="col-md-2 col-form-label text-md-right required">Date:</label>
        <div class="col-md-10">
            <input type="text" name="date" id="date" class="form-control" placeholder="dd/mm/YYYY" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="time" class="col-md-2 col-form-label text-md-right">Time:</label>
        <div class="col-md-10">
            <input type="text" name="time" id="time" class="form-control" placeholder="hh:mm">
        </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2 text-md-right">
            <input type="submit" class="btn btn-primary py-2 px-4" value="Add">
        </span>
        <div class="col-md-10"></div>
    </div>

</form>

{% endblock content %}