<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>MediSec</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap/css/bootstrap.min.css') }}">
        
        <!-- Font-Awesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style/style.css') }}" />
        <link rel="stylesheet" type="text/css" media="print" href="{{ url_for('static', filename='style/print.css') }}" />
        {% block customCSS %}{% endblock customCSS %}

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='dist/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- CryptoJS libraries -->
        <script src="{{ url_for('static', filename='dist/CrpytoJS/aes.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/CrpytoJS/sha256.js') }}"></script>
        
        <!-- Cleave -->
        <script src="{{ url_for('static', filename='dist/Cleave/cleave.min.js') }}"></script>
        
        <!-- Local JS -->
        <script src="{{ url_for('static', filename='script/crypto.js') }}"></script>
        <script src="{{ url_for('static', filename='script/messages.js') }}"></script>
        <script src="{{ url_for('static', filename='script/main.js') }}"></script>
        <script>
            $(function () {
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for cat, msg in messages %}
                            createUserMessage("{{msg}}", 5, type='{{cat}}')
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            });
        </script>
        {% block customJS %}{% endblock customJS %}
    </head>
    <body>
        {# Commented out logout, as implemented on-button
            {% include 'components/logout.html' %}
        #}
        {% include 'components/nav.html' %}

        <div class="container my-3">
            <div id="infoMessageContainer">
                {% block infoMessages %}
                {% endblock infoMessages %}
            </div>
            <div id="errorMessageContainer">
                {% block errorMessages %}
                {% endblock errorMessages %}
            </div>

            {% block content %}
                <style>
                    body{
                        background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
                        background-size: cover;
                    }
                </style>

                <div class="row mt-5">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 p-3 bg-readable rounded shadow-lg" style="opacity: .9;">
                        <h1>What is MediSec?</h1>
                        <p>
                            MediSec is one of its kind client-side encrypted medical history service, allowing the users to store their confidential medical records securely. Only the user is able to read the data saved on the server. The only piece of data that the server has access to is the email address that the server uses to communicate important messages to the user.
                        </p>
                    </div>
                </div>

            {% endblock content %}

        </div>
        {% include 'components/footer.html' %}
    </body>
</html>