<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MediSec</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />

        <!-- Local CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style/main.css') }}" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap/css/bootstrap.min.css') }}">

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='dist/bootstrap/js/boostrap.bundle.min.js') }}"></script>

        <!-- CryptoJS libraries -->
        <script src="{{ url_for('static', filename='dist/CrpytoJS/aes.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/CrpytoJS/pbkdf2.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/CrpytoJS/sha256.js') }}"></script>

        <!-- Local JS -->
        <script src="{{ url_for('static', filename='script/checkKey.js') }}"></script>
        <script src="{{ url_for('static', filename='script/generate_encrypted_fields.js') }}"></script>
        <script src="{{ url_for('static', filename='script/cookies.js') }}"></script>
        <script src="{{ url_for('static', filename='script/main.js') }}"></script>
    </head>
    <body>
        {% include 'components/nav.html' %}
        <div class="hasMargin">
            {% block content %}

            <h1>MediSec</h1>
            <p>
                MediSec allows the users to securely store their medical histories using client-side encryption algorithms.
            </p>

            {% endblock content %}
        </div>
        {% include 'components/footer.html' %}
    </body>
</html>