{% extends 'index.html' %}
{% block content %}

<b style="color: red;">{{error_message}}</b>

<form action="/validate_login" method="post">
    <label for="email_address">Email Address:</label>
    <input type="email" name="email_address" id="email_address" value="{{email_address}}" required readonly><br>

    <label for="password">Password:</label>
    <input type="password"
           name="password"
           id="password"
           class="gen_pass_field"
           onchange="fill_password(this, '{{password_salt}}')"
           required><br>

    <label for="sec_question">What's 2+2?</label>
    <input type="text" name="sec_question" id="sec_question" required><br>

    <input type="submit" value="Login">
</form>

{% endblock content %}