{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        $("#loginForm").submit( function () {            
            var plaintext_password = $("#password")[0].value;
            var email_address = $("#email_address")[0].value;

            // Store hash of email and password
            window.localStorage['MediSecEncKey_base'] = create_hash(email_address+plaintext_password);

            $("#loginForm :input").each( function () {
                $(this).attr('readonly', true);
            });

            var hashed_value = create_hash(plaintext_password);

            if(hashed_value === null){
                $("#loginForm :input").each( function () {
                    $(this).attr('readonly', false);
                });
                return false;
            }

            $("#password")[0].value = hashed_value;
            return true;
        });

        {% if error_message %}
            createUserMessage("{{error_message}}", 5);
        {% endif %}
    });
</script>
{% endblock customJS %}

{% block content %}

<h1>Login to MediSec</h1>

<form id="loginForm" action="{{url_for('login')}}" method="post">
    <div class="form-group row">
        <label for="email_address" class="col-md-2 col-form-label text-md-right required">Email Address:</label>
        <div class="col-md-10">
            <input type="email" name="email_address" id="email_address" class="form-control" placeholder="test@MediSec.ie" required>
        </div>
    </div>

    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label text-md-right required">Password:</label>
        <div class="col-md-10">
            <input type="password" name="password" id="password" class="form-control" placeholder="aBcde1()" required>
        </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2 text-md-right">
            <input type="submit" class="btn btn-primary py-2 px-4" value="Login">
        </span>
        <div class="col-md-10"></div>
    </div>

    <div class="form-group row">
        <small class="text-muted">
            <b class="text-uppercase text-bold">Note: </b>
            If you haven't gotten a confirmation email, please click <a href="{{url_for('resendValidationEmail')}}">here</a> to resend it.
        </small>
    </div>

</form>

{% endblock content %}