{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        $("#loginForm").submit( function () {
            var plaintext_password = $("#password")[0].value;

            $("#loginForm :input").each( function () {
                $(this).attr('readonly', true);
            });

            var hashed_value = create_hash(plaintext_password);

            if(hashed_value === null){
                $("#loginForm :input").each( function () {
                    $(this).attr('readonly', false);
                });
                return false;
            }

            $("#password")[0].value = hashed_value;
            return true;
        });

        {% if error_message %}
            createUserMessage("{{error_message}}", 5)
        {% endif %}
    });
</script>
{% endblock customJS %}

{% block content %}

<form id="loginForm" action="/login" method="post">
    <label for="email_address">Email Address:</label>
    <input type="email" name="email_address" id="email_address" required><br>

    <label for="password">Password:</label>
    <input type="password"
        name="password"
        id="password"
        required><br>

    <input type="submit" value="Login">
</form>

{% endblock content %}