{% extends 'index.html' %}

{% macro printDecrypted(encryptedString) %}
    <script>
        document.write(decrypt( "{{ encryptedString }}", window.localStorage.getItem('MediSecEncKey')));
    </script>
{% endmacro %}

{% block customJS %}
<script>
    $(function () {
        // SEARCH
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".card").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock customJS %}

{% block content %}
<script>
    if(window.localStorage.getItem('MediSecEncKey_base')){
        window.localStorage['MediSecEncKey'] = create_hash(window.localStorage['MediSecEncKey_base'] + '{{token}}');
        window.localStorage.removeItem('MediSecEncKey_base');
    }
</script>

<h1>Medical History</h1>

{% if history or cat or sort %}

    <button id="controlsButton" class="btn btn-primary" data-toggle="collapse" data-target="#controls">Sort & Filter</button>

    <div id="controls" class="collapse">
        <div class="form-group row">
            <label class="col-md-2 col-form-label text-md-right">Sort:</label>
            <div class="col-md">
                <a href="{{url_for('medicalHistory', cat=cat, sort='dateDsc', lim=lim)}}" class="btn btn-outline-primary {%if sort == 'dateDsc'%}active{%endif%}">Date Created Dsc.</a>
                <a href="{{url_for('medicalHistory', cat=cat, sort='dateAsc', lim=lim)}}" class="btn btn-outline-primary {%if sort == 'dateAsc'%}active{%endif%}">Date Created Asc.</a>
            </div>
    
            <label for="search" class="col-md-1 col-form-label text-md-right">Search:</label>
            <div class="col-md-2">
                <input type="search" name="search" id="search" class="form-control" placeholder="Search...">
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-2 col-form-label text-md-right">Show Category:</label>
            <div class="col-md">
                <a href="{{url_for('medicalHistory', cat='', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat == None%}active{%endif%}">All</a>
                <a href="{{url_for('medicalHistory', cat='DoctorVisit', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='DoctorVisit'%}active{%endif%}">Doctor Visits</a>
                <a href="{{url_for('medicalHistory', cat='HospitalVisit', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='HospitalVisit'%}active{%endif%}">Hospital Visits</a>
                <a href="{{url_for('medicalHistory', cat='Illness', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='Illness'%}active{%endif%}">Illnesses</a>
                <a href="{{url_for('medicalHistory', cat='Prescription', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='Prescription'%}active{%endif%}">Prescriptions</a>
                <a href="{{url_for('medicalHistory', cat='DentalVisit', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='DentalVisit'%}active{%endif%}">Dental Visits</a>
                <a href="{{url_for('medicalHistory', cat='Other', sort=sort, lim=lim)}}" class="mb-1 btn btn-outline-primary {%if cat=='Other'%}active{%endif%}">Other</a>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-2 col-form-label text-md-right">Limit Results:</label>
            <div class="col-md">
                <a href="{{url_for('medicalHistory', cat=cat, sort=sort, lim='10')}}" class="mb-1 btn btn-outline-primary {%if lim == '10'%}active{%endif%}">10</a>
                <a href="{{url_for('medicalHistory', cat=cat, sort=sort, lim='all')}}" class="mb-1 btn btn-outline-primary {%if lim == 'all'%}active{%endif%}">All</a>
            </div>
        </div>
    
        <div class="form-group row">
            <label class="col-md-2 col-form-label text-md-right">Print:</label>
            <div class="col-md">
                <a class="mb-1 btn btn-outline-primary" onclick="print()">Print</a>
            </div>
        </div>
    </div>

    {% if account %}
        <div class="print-only">
            {% for key, value in account.items() %}
                {% if key == 'forename' %}<h2>Name: {{printDecrypted(value)}}</h2>{% endif %}
                {% if key == 'surname' %}<h2>Surname: {{printDecrypted(value)}}</h2>{% endif %}
                {% if key == 'dob' %}<h3>Date of Birth: {{printDecrypted(value)}}</h3>{% endif %}
                {% if key == 'ppsn' %}<h3>Public Services Card Number: {{printDecrypted(value)}}</h3>{% endif %}
                {% if key == 'bloodType' %}<p><b>Blood Type:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'height' %}<p><b>Height (cm):</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'mobile' %}<p><b>Mobile Number:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'landline' %} <p><b>Landline Number:</b> {{printDecrypted(value)}}</p> {% endif %}
                {% if key == 'address1' %} <p><b>Address 1:</b> {{printDecrypted(value)}}</p> {% endif %}
                {% if key == 'address2' %}<p><b>Address 2:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'address3' %}<p><b>Address 3:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'town' %}<p><b>City / Town:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'region' %}<p><b>County / Region:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'postcode' %}<p><b>Eircode / Postcode:</b> {{printDecrypted(value)}}</p>{% endif %}
                {% if key == 'country' %}<p><b>Country:</b> {{printDecrypted(value)}}</p>{% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <br>
    <small class="text-muted">
        Click on the blue headings to see more details.
    </small>

    {% for history_item in history %}        
        
        <div class="card my-3 bg-readable">
            
            {% if history_item['type'] == "DoctorVisit" %}
                <div class="card-header bg-primary clearfix" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-syringe h2 mr-2"></span>
                    <span><b>Doctor Visit</b> to <b>{{printDecrypted(history_item['doctor'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    <div class="card-header bg-secondary"><b>Date:</b> {{printDecrypted(history_item['date'])}}</div>
                    <div class="card-header bg-secondary">
                        <b>Location:</b> {{printDecrypted(history_item['location'])}}
                    </div>
                    {% if history_item['time'] %}
                        <div class="card-header bg-secondary"><b>Time:</b> {{printDecrypted(history_item['time'])}}</div>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}
            
            {% if history_item['type'] == "HospitalVisit" %}
                <div class="card-header bg-primary" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-procedures h2 mr-2"></span>
                    <span><b>Hospital Visit</b> to <b>{{printDecrypted(history_item['hospital'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    {% if history_item['department'] %}
                        <div class="card-header bg-secondary"><b>Department:</b> {{printDecrypted(history_item['department'])}}</div>
                    {% endif %}
                    {% if history_item['date_released'] %}
                        <div class="card-header bg-secondary"><b>From:</b> {{printDecrypted(history_item['date'])}} <b>to</b> {{printDecrypted(history_item['date_released'])}}</div>
                    {% else %}
                        <div class="card-header bg-secondary"><b>Date:</b> {{printDecrypted(history_item['date'])}}</div>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}

            {% if history_item['type'] == "Prescription" %}
                <div class="card-header bg-primary" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-pills h2 mr-2"></span>
                    <span><b>Prescription</b> from <b>{{printDecrypted(history_item['date'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    <div class="card-header bg-secondary"><b>Issuing Doctor:</b> {{printDecrypted(history_item['doctor'])}}</div>
                    <div class="card-body">
                        {% if history_item['desc'] %}
                            <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                        {% endif %}
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Drug Name</th>
                                    <th scope="col">Doseage</th>
                                    <th scope="col">Instructions</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">{{printDecrypted(history_item['item_name'])}}</td>
                                    <td>{{printDecrypted(history_item['item_strength'])}}</td>
                                    <td>{{printDecrypted(history_item['item_instructions'])}}</td>
                                    <td>{{printDecrypted(history_item['item_number'])}}</td>
                                </tr>
                                {% if history_item['item_name_1'] %}
                                <tr>
                                    <td scope="row">{{printDecrypted(history_item['item_name_1'])}}</td>
                                    <td>{{printDecrypted(history_item['item_strength_1'])}}</td>
                                    <td>{{printDecrypted(history_item['item_instructions_1'])}}</td>
                                    <td>{{printDecrypted(history_item['item_number_1'])}}</td>
                                </tr>
                                {% endif %}
                                {% if history_item['item_name_2'] %}
                                <tr>
                                    <td scope="row">{{printDecrypted(history_item['item_name_2'])}}</td>
                                    <td>{{printDecrypted(history_item['item_strength_2'])}}</td>
                                    <td>{{printDecrypted(history_item['item_instructions_2'])}}</td>
                                    <td>{{printDecrypted(history_item['item_number_2'])}}</td>
                                </tr>
                                {% endif %}
                                {% if history_item['item_name_3'] %}
                                <tr>
                                    <td scope="row">{{printDecrypted(history_item['item_name_3'])}}</td>
                                    <td>{{printDecrypted(history_item['item_strength_3'])}}</td>
                                    <td>{{printDecrypted(history_item['item_instructions_3'])}}</td>
                                    <td>{{printDecrypted(history_item['item_number_3'])}}</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}

            {% if history_item['type'] == "Illness" %}
                <div class="card-header bg-primary" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-frown h2 mr-2"></span>
                    <span><b>{{printDecrypted(history_item['illness'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    <div class="card-header bg-secondary">
                        <b>Date:</b> {{printDecrypted(history_item['date'])}}
                    </div>
                    <div class="card-header bg-secondary">
                        <b>Symptoms:</b> {{printDecrypted(history_item['symptoms'])}}
                    </div>
                    {% if history_item['desc'] %}
                    <div class="card-body">
                        <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                    </div>
                    {% endif %}
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}

            {% if history_item['type'] == "DentistVisit" %}
                <div class="card-header bg-primary" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-tooth h2 mr-2"></span>
                    <span><b>Dentist Visit</b> to <b>{{printDecrypted(history_item['doctor'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    <div class="card-header bg-secondary">
                        <b>Location:</b> {{printDecrypted(history_item['location'])}}
                    </div>
                    <div class="card-header bg-secondary">
                        <b>Date:</b> {{printDecrypted(history_item['date'])}}
                    </div>
                    <div class="card-header bg-secondary">
                        <b>Date:</b> {{printDecrypted(history_item['visit_type'])}}
                    </div>
                    {% if history_item['desc'] %}
                    <div class="card-body">
                        <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                    </div>
                    {% endif %}
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}

            {% if history_item['type'] == "Other" %}
                <div class="card-header bg-primary" data-toggle="collapse" data-target="#card-contents-{{loop.index}}">
                    <span class="fas fa-question-circle h2 mr-2"></span>
                    <span><b>{{printDecrypted(history_item['label'])}}</b></span>
                </div>
                <span class="collapse" id="card-contents-{{loop.index}}">
                    {% if history_item['doctor'] %}
                    <div class="card-header bg-secondary">
                        <b>Doctor:</b> {{printDecrypted(history_item['doctor'])}}
                    </div>
                    {% endif %}
                    {% if history_item['location'] %}
                    <div class="card-header bg-secondary">
                        <b>Location:</b> {{printDecrypted(history_item['location'])}}
                    </div>
                    {% endif %}
                    <div class="card-header bg-secondary">
                        <b>Date:</b> {{printDecrypted(history_item['date'])}} {% if history_item['time'] %}at {{printDecrypted(history_item['time'])}}{% endif %}
                    </div>
                    {% if history_item['desc'] %}
                    <div class="card-body">
                        <p class="card-text text-justify">{{printDecrypted(history_item['desc'])}}</p>
                    </div>
                    {% endif %}
                    <div class="card-footer text-right">
                        <a href="{{url_for('removeMedicalHistoryItem', item_id=history_item['_id'])}}" class="text-reset">
                            Delete <span class="fas fa-trash-alt h4"></span>
                        </a>
                    </div>
                </span>
            {% endif %}
        </div>
    {% endfor %}

{% else %}
    <p>It appears you don't have anything here yet.</p>
    <p>To add medical history, click <a class="btn btn-primary" href="{{url_for('addMedicalHistory')}}">This Button</a></p>
{% endif %}

{% endblock content %}