{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        {% if error_message %}
            createUserMessage("{{error_message}}", 5);
        {% endif %}
        {% if info_message %}
            createUserMessage("{{info_message}}", 5, "info");
        {% endif %}
    });
</script>
{% endblock customJS %}

{% block content %}
<script>
    window.localStorage['MediSecEncKey'] = create_hash(window.localStorage['MediSecEncKey'] + '{{token}}');
</script>

<h1>User home-page</h1>

{% if history %}
    {% for history_item in history %}
        <div style="border: 1px solid black">
            {% for name, value in history_item.items() %}
                <p>
                    <b>{{name}}:</b>
                    <script>
                        document.write(decrypt( "{{ value }}", localStorage.getItem('MediSecEncKey')));
                    </script>
                </p>
            {% endfor %}
        </div>
        </br>
    {% endfor %}

{% else %}
    <p>It appears you don't have anything here yet.</p>
    <p>To add medical history, click <a class="btn btn-primary" href="{{url_for('addMedicalHistory')}}">This Button</a></p>
{% endif %}

{% endblock content %}