{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        // ON SUBMIT
        $("#registerForm").submit( function () {
            var plaintext_password = $("#password")[0].value;

            if(!checkPasswordPolicy(plaintext_password)){
                var msg = $('<p>');
                msg[0].innerText = "Your password isn't strong enough!";
                $("#errorMessageContainer").append(msg);
                deleteElementAfterTimeout(msg, 5)
                return false;
            }

            $("#registerForm :input").each( function () {
                $(this).attr('readonly', true);
            });

            var hashed_value = create_hash(plaintext_password);

            if(hashed_value === null){
                $("#registerForm :input").each( function () {
                    $(this).attr('readonly', false);
                });
                return false;
            }

            $("#password")[0].value = hashed_value;
            return true;
        });

        // ON TYPE
        $("#password").change(function () {
            var obj = $(this);
            var pass = obj[0].value;
            if(checkPasswordPolicy(pass)){
                obj.removeClass("borderColorFailure");
                obj.addClass("borderColorSucess");
            }
            else{
                obj.removeClass("borderColorSucess");
                obj.addClass("borderColorFailure");
            }
        });
    });
</script>
{% endblock customJS %}

{% block infoMessages %}
    <p>Please enter a valid email address.</p>
    <p>
        Your password needs to contain the following:
        <ul>
            <li>Minimum length of 8 characters.</li>
            <li>A lowercase letter.</li>
            <li>An UPPERCASE letter.</li>
            <li>A digit (0-9).</li>
            <li>One of the following symbols:</li>
            <ul>
                <li>!@#$%&*()</li>
            </ul>
        </ul>
    </p>
{% endblock infoMessages %}

{% block content %}

<b style="color: red;">{{error_message}}</b>

<form id="registerForm" action="/register" method="post">
    <label for="email_address">Email Address:</label>
    <input type="email" name="email_address" id="email_address" required><br>

    <label for="password">Password:</label>
    <input type="password"
        name="password"
        id="password"
        required><br>

    <input type="submit" value="Register">
</form>

{% endblock content %}