{% extends 'index.html' %}

{% block customJS %}
<script>
    $(function () {
        // ON SUBMIT
        $("#registerForm").submit( function () {
            var plaintext_password = $("#password")[0].value;

            if(!checkPasswordPolicy(plaintext_password)){
                createUserMessage("Your password doesn't match the minimum password guidelines.")
                return false;
            }

            $("#registerForm :input").each( function () {
                $(this).attr('readonly', true);
            });

            var hashed_value = create_hash(plaintext_password);

            if(hashed_value === null){
                $("#registerForm :input").each( function () {
                    $(this).attr('readonly', false);
                });
                return false;
            }

            $("#password")[0].value = hashed_value;
            return true;
        });

        // ON TYPE
        $("#password").change(function () {
            var obj = $(this);
            var pass = obj[0].value;
            if(checkPasswordPolicy(pass)){
                obj.removeClass("border-danger");
                obj.addClass("border-success");
            }
            else{
                obj.removeClass("border-success");
                obj.addClass("border-danger");
            }
        });

        {% if error_message %}
            createUserMessage("{{error_message}}", 5);
        {% endif %}
    });
</script>
{% endblock customJS %}

{% block content %}
<h1>Register with MediSec</h1>

<form id="registerForm" action="{{url_for('register')}}" method="post">
    <div class="form-group row">
        <label for="email_address" class="col-md-2 col-form-label text-md-right required">Email Address:</label>
        <div class="col-md-10">
            <input type="email" name="email_address" id="email_address" class="form-control" placeholder="test@MediSec.ie" required>
        </div>
    </div>

    <div class="form-group row" class="col-md-2 col-form-label">
        <label for="password" class="col-md-2 col-form-label text-md-right required">Password:</label>
        <div class="col-md-10">
            <input type="password" name="password" id="password" class="form-control" placeholder="aBcde1()" required>
            <small class="form-text text-muted">
                Your password must have:
                <ul>
                    <li>Minimum length of 8 characters.</li>
                    <li>A lowercase letter.</li>
                    <li>An UPPERCASE letter.</li>
                    <li>A digit (0-9).</li>
                    <li>One of the following symbols:</li>
                    <ul>
                        <li>!@#$%&*()</li>
                    </ul>
                </ul>
            </small>
        </div>
    </div>

    <div class="form-group row" class="col-md-2 col-form-label">
        <span class="col-md-2 text-md-right">
            <input type="submit" class="btn btn-primary py-2 px-4" value="Register">
        </span>
        <div class="col-md-10"></div>
    </div>

</form>

{% endblock content %}