<footer class="pt-md-4 bg-dark text-light">
    <div class="container-fluid text-center text-md-left d-none d-md-block">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">About MediSec</h5>
                <p>
                    MediSec is one of it's kind client-side encrypted medical history service, allowing the users to store their confidential medical records securely. Only the user is able to read the data saved on the server. The only piece of data that the server has access to is the email address that the server uses to communicate important messages and newsletters.
                </p>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Page Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{url_for('index')}}">Home</a>
                    </li>
                    <li>
                        <a href="{{url_for('contact')}}">Contact</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Other Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://ITCarlow.ie/" target="_blank"><span class="fab fa-edge"> </span> IT Carlow</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/zurakowskiJakub/" target="_blank"><span class="fab fa-linkedin"></span> LinkedIn Profile</a>
                    </li>
                    <li>
                        <a href="https://github.com/ZurakowskiJakub/4th_Year_Project" target="_blank"><span class="fab fa-github"></span> Follow on GitHub</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="bg-black text-center py-3">© 2019 Copyright:
        <a href="https://linkedin.com/in/zurakowskiJakub/" target="_blank"> Jakub Żurakowski</a>
    </div>
</footer>